{{#if propTypes}}
import React, { Component, PropTypes } from 'react';
{{else}}
import React, { Component } from 'react';
{{/if}}

class {{ properCase name }} extends Component {
  {{#if propTypes}}
  static propTypes = {};
  {{/if}}

  render() {
    {{#if propTypes}}
    const {} = this.props;
    {{/if}}

    return (
      <div>
      </div>
    );
  }
}

export default {{ properCase name }};
